server:
  port: ${APPLICATION_PORT:5000}
#TODO WHEN ACTUATOR DEPENDENCY WILL BE ADDED
#management:
#  endpoints:
#    web:
#      exposure:
#        include: health, info, mappings
#  endpoint:
#    health:
#      show-details: always
spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  profiles:
    active: dev
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${DB_URI:jdbc:postgresql://localhost:5432/knudev_db}
    username: ${POSTGRES_USERNAME:postgres}
    password: ${POSTGRES_PASSWORD:knudevpass}
    driver-class-name: org.postgresql.Driver
  liquibase:
    default-schema: liquibase
    change-log: classpath:db/master.yaml
  jackson:
    time-zone: Europe/Kiev
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org:
      springframework:
        web: debug
        transaction:
          support:
            TransactionSynchronizationUtils: info

application:
  base-url: ${BASE_URL:http://localhost:5000}
  email-verification-token:
    expiration: 60 #60 minutes
  minio:
#    url: ${MINIO_URL}
    url: http://localhost:9000
    access-key: ${MINIO_ACCESS_KEY}
    secret-key: ${MINIO_SECRET_KEY}
  jwt:
    issuer: KNUdev
    expiration: 600000 #10 minutes
    refresh-token:
      expiration: 1440000 #24 hours
  files:
    images:
      allowed-extensions:
        - jpg
        - jpeg
        - png
        - webp
      maximum-size-in-kilobytes: 2048
    pdfs:
      tasks:
        allowed-extensions:
          - pdf
        maximum-size-in-kilobytes: 5120
  assignments:
    activation-expiry-in-days: 7
  recruitment:
    requirements:
      developer:
        pre-campus-projects-amount: 1
        pre-campus-duration: 6
      pre-master-developer:
        tech-lead-score: 7
        developing-time-in-campus: 9
      master-developer:
        duration-in-months-as-pre-master: 12
        managed-students-in-pre-campus-amount: 2
        pre-master-projects-amount: 1
        tech-lead-score: 7
      tech-lead:
        duration-in-months-as-master: 6
        tech-lead-score: 8
springdoc:
  swagger-ui:
    path: /api/documentation

github:
  api:
    access-token: ${GITHUB_API_ACCESS_TOKEN:DEFAULT_INVALID_VALUE}
    organization-name: KNUdev

